@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-header-height: 80px;
  --custom-header-background-color: #ffffff;

  --button-height: 48px;
  --button-primary-color: #3772ff;

  --input-height: 48px;

  --text-primary-color: #3772ff;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../assets/fonts/Poppins-SemiBold.ttf") format("ttf");
}

.board-add {
  width: 170px;
  color: #ffffff;
  height: var(--button-height);
  background-color: var(--button-primary-color);

  &:hover {
    color: #ffffff !important;
    background-color: var(--button-primary-color) !important;
  }
}
